@use '@carbon/layout';

.breadcrumb {
    margin-bottom: layout.$spacing-04;

    * {
        font-size: 1.5rem !important;
    }
}

.tile__container {
    margin-top: layout.$spacing-10;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.tile {
    width: 30%;
    margin-right: layout.$spacing-05;
}

.tile, .field {
    margin-bottom: layout.$spacing-04;
}